body {
    font-family: inter;
    margin: 20px;
}

section {
    margin-top: 50px;
}

/* header style start here  */
.logo {
    width: 145.65px;
}

.company_name {
    font-size: 20px;
    font-weight: 700;
    color: #233746;
}

.employee_name {
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}

.author_name {
    line-height: 10px;
}

.second {
    color: #777777;
}

.author_name h1,
p {
    text-align: end;
}

.header_table {
    width: 100%;
}

.header_table td {
    border-collapse: collapse;
    border: none;
}

/* header style end here  */


/* experiment section started  */
.heading_border {
    border: 1px solid #233746;
}

.experiment_table {
    width: 100%;
    border-collapse: collapse;
}

.experiment_table td {
    padding: 10px 0 10px 0;
}

.experiment_table tr {
    border-bottom: 2px solid #7777;
}

.experiment_table-left {
    text-align: start;
    color: #777777;
}

.experiment_table-right {
    text-align: end;
    color: #333333;
}

/* experiment section end */

/* scheme section started */
.scheme_figure_box {
    width: 100%;
    margin: 0;
    border: 1px solid #777777;
    border-top: none;
}

.scheme_figure {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.scheme_border {
    border: 1px solid #233746;
    margin: 0;
}

/* scheme section end */

/* description section started */
.description_box {
    width: 100%;
    height: 100px;
    margin: 0;
    border: 1px solid #777777;
    border-top: 2px solid #233746;

}

.description_text {
    font-size: 20px;
    margin-left: 20px;
    text-align: start;
}

/* description section end */


/* compound section started  */
table {
    border-collapse: collapse;
    width: 100%;
}

.compound_table th,
td {
    padding: 10px 10px 10px 0;
    text-align: star;
}

.compound_table th {
    border-bottom: 2px solid #233746;
    color: #233746;
    text-align: start;
}

.bolder {
    color: #233746;
    font-weight: 700;
}

.compound_table tr {
    border-bottom: 1px solid #CCCCCC;
}

/* compound section end */


/* footer section started */
.footer_table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}

.bold {
    font-weight: 700;
    color: #233746;
    text-align: center;
    font-size: 22px;
}

/* footer section end */

/* for mobile design  */
@media only screen and (max-width: 767px) {

    section {
        margin-top: 30px;
    }

    /* header style start here  */
    .logo {
        width: 100px;
    }

    .company_name {
        font-size: 16px;
        font-weight: 700;
        color: #233746;
    }

    .employee_name {
        font-size: 12px;
        font-weight: 400;
        color: #777777;
    }

    /* header style end here  */


    /* experiment section started  */
    .heading_border {
        border: 1px solid #233746;
    }
    .experiment_table td {
        padding: 5px 0 5px 0;
        font-size: 12px;
    }

    .experiment_table tr {
        border-bottom: 1px solid #7777;
    }

    /* experiment section end */

    /* compound section started  */

    .compound_table th,
    td {
        padding:  5px 0;
        text-align: start;
        font-size: 8px;
        margin: 0 5px;
    }


    /* compound section end */

        /* description section started */
        .description_box {
            width: 100%;
            height: 80px;
            margin: 0;
        }
    
        .description_text {
            font-size: 10px;
            margin-left: 6px;
            text-align: start;
        }
    
        /* description section end */
    

    /* footer section started */
    .footer_table {
        width: 100%;
        margin-top: 30px;
        border-collapse: collapse;
    }

    .bold {
        font-weight: 700;
        color: #233746;
        text-align: center;
        font-size: 14px;
    }

    /* footer section end */
}